body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.container{
    text-align: center;
    width: 60vw;
    color: white;
}

.neon{
    text-shadow: 0 0 5px #FFF, 
    0 0 10px #FFF, 
    0 0 15px #FFF, 
    0 0 20px #49ff18, 
    0 0 30px #49FF18, 
    0 0 40px #49FF18, 
    0 0 55px #49FF18, 
    0 0 75px #49ff18;
}

#hora{
    font-size: 8rem;
    
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.today{
    color: aquamarine;
    font-weight: bold;
    
}